@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    max-width: 100%;
    margin: 0;
}

/* HEADER */ 

header{
    position: fixed;
    width: 100vw    ;
    background-color: rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 40000000;
}

header h1{
    color: #febd19;
    font-size: 2rem;
    border-radius: 20px;
    padding: 10px 14px;
}

header .navegação-primaria{
    display: flex;
    gap: 40px;
    align-items: center;
}

.navegação-primaria  ul, li, a{
    padding: 7px 10px;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 550;
    background-color: rgb(254, 189, 25, 0.1);
    border-radius: 20px;
    letter-spacing: 1px;
}

.navegação-primaria a{
    box-shadow: 0 0 1px rgb(254, 189, 25, 0.1),
    0 0 20px #febd19;
    transition: 0.2s ease;
}

.navegação-primaria a:hover{
    box-shadow: 0 0 5px rgb(254, 189, 25),
    0 0 10px #febd19, 0 0 20px #febd19,
    0 0 40px #febd19, 0 0 80px #febd19;
}

/* DOWNLOAD CV SECAO */

.section-div{
    justify-content: space-around;
    align-items: center;
    line-height: 1.1rem;
    padding: 130px;
}

.section-div img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2000;
}

.section-div div{
    margin-top: 120px;
    align-self: start;
    display: grid;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    width: 80vh;
    height: 40vh;
    border-radius: 15px;
    align-items: center;
    
}

.section-div div h2{
    font-weight: 600;
    font-size: 1.8rem;
}

.section-div div p{
    font-weight: 300px;
    color: #f7f7f7;
    font-size: 1.2rem;
}

#projects{
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
 
#box-project ul{
    width: 75vw;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#box-project a{
    box-shadow: 0 0 1px rgb(254, 189, 25, 0.1),
    0 0 20px #febd19;
    transition: 0.2s ease;
    color: #fff;
}

#box-project a:hover{
    box-shadow: 0 0 5px rgb(254, 189, 25),
    0 0 10px #febd19, 0 0 20px #febd19,
    0 0 40px #febd19, 0 0 80px #febd19;
}

#me{
    background-color: rgb(255, 153, 0);
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: black;
}

#me h1{
    font-weight: 800;
    padding: 40px;
}